{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body -%}
    <div class="card">
        <div class="card-header">
            <h3>Images de <a href="{{ bottin_url_fiche_show(fiche) }}">{{ fiche }}</a></h3>
        </div>
        <div class="card-body">
            {{ form_start(form, { 'attr': {'id': 'formdrop','class': 'mt-3 dropzone', 'data-controller': 'dropzone'}}) }}
            {{ form_widget(form, { label: false }) }}
            {{ form_errors(form) }}

            <button type="submit" class="btn btn-primary"><i class="fas fa-upload"></i> Envoyer les images</button>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
