{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body -%}
    <div class="card">
        <div class="card-header">
            <h3>Média de <a href="{{ bottin_url_fiche_show(fiche) }}">{{ fiche }}</a></h3>
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="ti ti-trash"></i> Supprimer le média
            </button>

            <br/> <br/>
            {% if image.mime|u.containsAny('image') %}
                <img class="img-thumbnail"
                     src="{{ vich_uploader_asset(image, 'image') | imagine_filter('acbottin_thumb') }}" alt="img"/>
            {% else %}

                <a href="{{ vich_uploader_asset(image, 'image') }}">
                 <span class="badge text-bg-success">{{ image.mime }}</span> <i class="ti ti-device-floppy"></i>Télécharger
                </a>
            {% endif %}
            <br/>

        </div>
    </div>

    {% include '@AcMarcheBottin/admin/image/_delete.html.twig' %}

{% endblock %}
