{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Historique des modifications</h3>
        <div class="card-body">
            <div class="hidden-print mb-3">
                {{ form_start(form, { 'attr': {'class': 'form-inli4ne'}}) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col">
                        {{ form_row(form.nom) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.madeBy) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.property) }}
                    </div>
                </div>

                <button class="btn btn-primary mr-1" type="submit"><i class="fas fa-search" aria-hidden="true"></i>
                    Rechercher
                </button>

                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Fiche</th>
                    <th>Par</th>
                    <th>Champ</th>
                    <th>Ancienne valeur</th>
                    <th>Nouvelle valeur</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for history in histories %}
                    <tr>
                        <td>
                            {% if history.fiche %}
                                <a href="{{ bottin_url_fiche_show(history.fiche) }}">
                                    {{ history.fiche }}
                                </a>
                            {% else %}
                                Fiche inexistante
                            {% endif %}
                        </td>
                        <td>{{ history.madeBy }}</td>
                        <td>{{ history.property }}</td>
                        <td>{{ history.oldValue|u.truncate(100,'...') }}</td>
                        <td>{{ history.newValue|u.truncate(100,'...') }}</td>
                        <td>{{ history.createdAt | format_date('short') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
