{% extends '@AcMarcheBottin/layout.html.twig' %}

{% block body -%}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Géolocaliser {{ fiche }}</h3>
        </div>
        <div class="card-body">
            <i class="fas fa-map-marked-alt"></i> <br/>
            {{ fiche.rue }} {{ fiche.numero }} <br/>
            {{ fiche.cp }} {{ fiche.localite }}

            <div class="alert alert-info">
                Déplacer le curseur à l'endroit voulu pour obtenir la longitude et latitude.
                <br/>Ensuite sauvegarder les nouvelles coordonnées.
            </div>

            {% include('@AcMarcheBottin/map/_localisation_form.html.twig') %}
            {% include '@AcMarcheBottin/map/_openstreetmap.html.twig' with {'adresse': fiche} %}

        </div>
        <div class="card-footer">
            <a href="{{ path('bottin_fiche_show', {'id' : fiche.id }) }}" class="btn btn-secondary">
                <i class="fas fa-long-arrow-alt-left mt-2"></i> Annuler
            </a>
        </div>
    </div>
{% endblock %}
