
{{ form_start(form) }}
{{ form_errors(form) }}
<div class="form-row">
    <div class="col">
        {{ form_row(form.latitude) }}
    </div>
    <div class="col">
        {{ form_row(form.longitude) }}
    </div>
    <div class="col">
        <button class="btn btn-primary ml-1 mb-3" type="submit"><i class="ti ti-device-floppy" aria-hidden="true"></i>
            Sauvegarder
        </button>
    </div>
</div>
{{ form_end(form) }}
<p class="text-muted mb-2">Déplacer le curseur pour corriger la localisation</p>
