<table class='table table-bordered table-hover'>
    <tr>
        <th><i class="fas fa-map-marked-alt"></i> Adresse</th>
        <td>
            {% include '@AcMarcheBottin/admin/fiche/_adresse.html.twig' %}
        </td>
    <tr>
        <th><i class="fas fa-globe-europe"></i> Site web</th>
        <td>
            <a href="{{ fiche.website }}">{{ fiche.website }}</a>
        </td>
    </tr>
    <tr>
        <th><i class="ti ti-mail"></i> Email</th>
        <td>
            {{ fiche.email }}
        </td>
    </tr>
    <tr>
        <th><i class="ti ti-phone"></i> Téléphone</th>
        <td>
            {{ fiche.telephone }}
        </td>
    </tr>
    <tr>
        <th><i class="ti ti-phone"></i> Autre téléphone</th>
        <td>
            {{ fiche.telephoneautre }}
        </td>
    </tr>
    <tr>
        <th><i class="ti ti-device-landline-phone"></i> Fax</th>
        <td>{{ fiche.fax }}</td>
    </tr>
    <tr>
        <th><i class="fas fa-mobile-alt"></i> Gsm</th>
        <td>
            {{ fiche.gsm }}
        </td>
    </tr>
    <tr>
        <th><i class="fas fa-barcode"></i> Numéro de tva</th>
        <td>
            {{ fiche.numeroTva }}
        </td>
    </tr>
</table>
