<table class='table table-bordered table-hover'>
    <tr>
        <th><i class="ti ti-brand-facebook"></i> Facebook</th>
        <td>
            <a href="{{ fiche.facebook }}" target="_blank">{{ fiche.facebook }}</a>
        </td>
    </tr>
    <tr>
        <th><i class="ti ti-brand-x"></i> Twitter</th>
        <td>
            <a href="{{ fiche.twitter }}" target="_blank">{{ fiche.twitter }}</a>
        </td>
    </tr>
    <tr>
        <th><i class="ti ti-brand-instagram"></i> Instagram</th>
        <td>
            <a href="{{ fiche.instagram }}" target="_blank">{{ fiche.instagram }}</a>
        </td>
    </tr>
    <tr>
        <th><i class="ti ti-brand-tiktok"></i> TikTok</th>
        <td>
            <a href="{{ fiche.tiktok }}" target="_blank">{{ fiche.tiktok }}</a>
        </td>
    </tr>
    <tr>
        <th><i class="ti ti-brand-youtube"></i> Youtube</th>
        <td>
            <a href="{{ fiche.youtube }}" target="_blank">{{ fiche.youtube }}</a>
        </td>
    </tr>
    <tr>
        <th><i class="ti ti-brand-linkedin"></i> Linkedin</th>
        <td>
            <a href="{{ fiche.linkedin }}" target="_blank">{{ fiche.linkedin }}</a>
        </td>
    </tr>
</table>
