
<table class='table table-bordered table-hover'>
    <tr>
        <th><i class="ti ti-brand-facebook"></i> Facebook</th>
        <td>
            <a href="{{ fiche.facebook }}">{{ fiche.facebook }}</a>
        </td>
    </tr>
    <tr>
        <th><i class="ti ti-brand-x"></i> Twitter</th>
        <td>
            <a href="{{ fiche.twitter }}">{{ fiche.twitter }}</a>
        </td>
    </tr>
    <tr>
        <th><i class="ti ti-brand-instagram"></i> Instagram</th>
        <td>
            <a href="{{ fiche.instagram }}">{{ fiche.instagram }}</a>
        </td>
    </tr>
    <tr>
        <th><i class="ti ti-brand-tiktok"></i> TikTok</th>
        <td>
            <a href="{{ fiche.instagram }}">{{ fiche.instagram }}</a>
        </td>
    </tr>
</table>
