<div class="d-grid gap-2 d-md-block mb-3">
    <a href="{{ path('bottin_backend_fiche_edit', { 'uuid': token.uuid }) }}" class="btn btn-primary"
       role="button"><i class="ti ti-pencil"></i> Mettre à jour</a>

    <a href="{{ path('bottin_backend_classement_edit', { 'uuid': token.uuid }) }}" class="btn btn-primary"
       role="button">
        <i class="ti ti-list"></i> Catégories</a>

    <a href="{{ path('bottin_backend_image_edit', { 'uuid': token.uuid }) }}" class="btn btn-primary" role="button">
        <i class="ti ti-photo"></i> Images</a>

    <a href="{{ path('bottin_backend_map_edit', { 'uuid': token.uuid }) }}" class="btn btn-primary" role="button">
        <i class="fas fa-map-marker-alt"></i> Localisation</a>

    <a href="{{ path('bottin_backend_contact', { 'uuid': token.uuid }) }}" class="btn btn-primary" role="button">
        <i class="ti ti-address-book"></i> Aidez-moi</a>
</div>
