{% extends '@AcMarcheBottin/backend/layout.html.twig' %}
{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/css/lightgallery-bundle.min.css" rel="stylesheet">
{% endblock %}
{% block body -%}
    <div class="card">
        <div class="card-header">
            <h3>{{ fiche }}</h3>
        </div>
        <div class="card-body">

            {% include '@AcMarcheBottin/backend/fiche/_actions.html.twig' %}

            <table class='table table-bordered table-hover'>
                <tr>
                    <th><i class="ti ti-map"></i> Adresse</th>
                    <td>
                        {% include '@AcMarcheBottin/admin/fiche/_adresse.html.twig' %}
                    </td>
                <tr>
                    <th><i class="ti ti-link"></i> Site web</th>
                    <td>
                        <a href="{{ fiche.website }}">{{ fiche.website }}</a>
                    </td>
                </tr>
                <tr>
                    <th><i class="ti ti-mail"></i> Email</th>
                    <td>
                        {{ fiche.email }}
                    </td>
                </tr>
                <tr>
                    <th><i class="ti ti-phone"></i> Téléphone</th>
                    <td>
                        {{ fiche.telephone }}
                    </td>
                </tr>
                <tr>
                    <th><i class="ti ti-phone"></i> Autre téléphone</th>
                    <td>
                        {{ fiche.telephoneautre }}
                    </td>
                </tr>
                <tr>
                    <th><i class="ti ti-device-landline-phone"></i> Fax</th>
                    <td>{{ fiche.fax }}</td>
                </tr>
                <tr>
                    <th><i class="ti ti-device-mobile"></i> Gsm</th>
                    <td>
                        {{ fiche.gsm }}
                    </td>
                </tr>
                <tr>
                    <th><i class="ti ti-barcode"></i> Numéro de tva</th>
                    <td>
                        {{ fiche.numeroTva }}
                    </td>
                </tr>
            </table>
            {{ include('@AcMarcheBottin/front/fiche/_sociaux.html.twig') }}
            <h4 class="text-success">Contact complémentaire</h4>
            {% include '@AcMarcheBottin/front/fiche/_contact.html.twig' %}
            {% include '@AcMarcheBottin/front/fiche/_complements.html.twig' %}
            {% include '@AcMarcheBottin/front/fiche/_classement.html.twig' %}
            {% include '@AcMarcheBottin/front/fiche/_images.html.twig' %}
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
{% endblock %}
