{% extends '@AcMarcheBottin/backend/layout.html.twig' %}

{% block body -%}
    <div class="card mb-3">
        <div class="card-header">
            <h3>{{ fiche }}</h3>
        </div>
        <div class="card-body">

            {% include '@AcMarcheBottin/backend/fiche/_actions.html.twig' %}

            <table class='table table-bordered table-hover'>
                <tr>
                    <th><i class="fas fa-map-marked-alt"></i> Adresse</th>
                    <td>
                        {% include '@AcMarcheBottin/admin/fiche/_adresse.html.twig' %}
                    </td>
                <tr>
                    <th><i class="fas fa-globe-europe"></i> Site web</th>
                    <td>
                        <a href="{{ fiche.website }}">{{ fiche.website }}</a>
                    </td>
                </tr>
                <tr>
                    <th><i class="far fa-envelope"></i> Email</th>
                    <td>
                        {{ fiche.email }}
                    </td>
                </tr>
                <tr>
                    <th><i class="fas fa-phone-alt"></i> Téléphone</th>
                    <td>
                        {{ fiche.telephone }}
                    </td>
                </tr>
                <tr>
                    <th><i class="fas fa-phone-alt"></i> Autre téléphone</th>
                    <td>
                        {{ fiche.telephoneautre }}
                    </td>
                </tr>
                <tr>
                    <th><i class="fas fa-fax"></i> Fax</th>
                    <td>{{ fiche.fax }}</td>
                </tr>
                <tr>
                    <th><i class="fas fa-mobile-alt"></i> Gsm</th>
                    <td>
                        {{ fiche.gsm }}
                    </td>
                </tr>
                <tr>
                    <th><i class="fas fa-barcode"></i> Numéro de tva</th>
                    <td>
                        {{ fiche.numeroTva }}
                    </td>
                </tr>
            </table>

            {% include '@AcMarcheBottin/front/fiche/_images.html.twig' %}
        </div>
        <div class="card-footer text-muted">
            {% include '@AcMarcheBottin/front/fiche/_classement.html.twig' %}
        </div>
    </div>
{% endblock %}
