<div data-classement-target="classementList">
    {% if classements | length > 0 %}
        <table class='table table-bordered'>
            <tbody>
            {% for classement in classements %}
                {% set category = classement.category %}
                {% set paths =  category.path %}
                <tr>
                    <td>
                        <nav aria-label="breadcrumb">
                            <ol class='breadcrumb'>
                                {% for path in paths %}
                                    {% if loop.last %}
                                        <li class="breadcrumb-item active" aria-current="page">{{ path }}</li>
                                    {% else %}
                                        <li class="breadcrumb-item" aria-current="page">
                                            {{ path }}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ol>
                        </nav>
                    </td>
                    <td>
                        <a title="Définir en principal"
                           onclick="setPrincipal({{ classement.id }});return false;" href="#"
                           class="setprincipal text-center"
                           data-id="{{ classement.id }}"><i class="fas fa-check"></i>
                        </a>
                    </td>
                    <td>
                        <a title="supprimer ce classement"
                           data-action="classement#deleteClassement"
                           data-classement-id="{{ classement.id }}"
                           href="#"
                           class="text-center"> <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-warning">Aucun classement</p>
    {% endif %}
</div>
