{% extends '@AcMarcheBottin/layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/acmarchebottin/css/typeahead.css') }}" rel="stylesheet">
{% endblock %}

{% block body -%}

    <div class="card bg-lig2ht mb-3">
        <div class="card-header">
            <h3>Export</h3>
        </div>
        <div class="card-body">
            {{ form_start(form, { 'attr': {'class': 'well'} }) }}
            {{ form_errors(form) }}

            <h5 class="text-success">Ajout par recherche</h5>
            <hr>
            {{ form_row(form.name) }}
            <div class="input-group"
                    {{ stimulus_controller('search', {'url':path('bottin_search_ajax')}) }}>
                <input
                        type="search"
                        name="q"
                        autocomplete="off"
                        class="form-control"
                        data-action="search#onSearchInput"/>
                <div class="search-preview"
                 data-search-target="result">

                </div>
            </div>
            {{ form_end(form) }}

            <div {{ stimulus_controller('category', { categoryId: 511 }) }} >
                <table class="table table-bordered">
                    {% for category in categories %}
                        <tr>
                            <th>
                                <button
                                        class="btn btn-primary"
                                        data-action="category#selectCategory"
                                        data-category-target="categories"
                                        data-category-id="{{ category.id }}"
                                >
                                    {{ category }}
                                </button>
                            </th>
                        </tr>
                    {% endfor %}
                </table>
                <input type="number" name="x" data-category-target="select">
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        function initTypeahead() {

            var categories = new Bloodhound({
                datumTokenizer: function (datum) {
                    return Bloodhound.tokenizers.whitespace(datum.value);
                },
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: "{{ path('bottin_fetch') }}/%QUERY",
                    wildcard: '%QUERY'
                }
            });

            var options = {
                hint: true,
                highlight: true,
                minLength: 2
            };

            var dataSetCategories = {
                display: 'label',
                limit: 10,
                source: categories,
                templates: {
                    suggestion: function (data) {
                        var value = data.name;
                        return '<p>' + value + '</p>';
                    }
                }
            };

            $('.typeahead').typeahead(options, dataSetCategories);
            $('.typeahead').bind('typeahead:select', function (ev, suggestion) {
                console.log(suggestion);
                $('#select_category_categorySelected').val(suggestion.id)
            });
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            initTypeahead();
        });

    </script>

    <script type="text/javascript">

        function getCategories(item, level) {
            var rootId = item.value;
            var url = '{{ path('bottin_ajax_get_categories') }}';
            $.ajax({
                'data': {parentId: rootId, level: level},
                'url': url,
                'method': 'POST',
                'dataType': "json",
                'success': function (data) {
                    console.log(data);
                    error = data.error;
                    if (error) {
                        alert(error);
                        return;
                    } else {
                        html = data.html;
                        catId = data.catId;
                        level = data.level;
                        console.log(level);
                        $("#ajaxsuccess-" + level).html(html);
                        // $("#select_category_categorySelected").val(catId);
                    }
                }
            }).done(function (data) {
                console.log(data);
                if (console && console.log) {
                    //   console.log("data:", data);
                }
            });
        }

        $(".removeclassment").click(function () {
            var idClassement = $(this).attr("data-id");
            //  removeClassement(idClassement);
        });

        function removeClassement(idClassement) {
            console.log("remove");

            var url = '{{ path('bottin_ajax_remove_classement') }}';
            $.ajax({
                'data': {classementId: idClassement},
                'url': url,
                'method': "POST",
                'dataType': "html",
                'success': function (data) {
                    error = data.error;
                    if (error) {
                        alert(error);
                        return;
                    } else {
                        console.log("oki");
                        $("#classements").html(data);
                    }
                }
            }).done(function (data) {
                if (console && console.log) {

                }
            });
        }


    </script>
{% endblock %}
