<form>
    {% for facetName,data in facetDistribution %}
        {% if not facetName|u.startsWith('_') %}
            <div class="text-muted my-3">
                <i class="ti ti-filter" title="Village"></i> <strong>{{ facetName|title }}</strong>
                {% for name,nb in data %}
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="{{ name }}" name="{{ facetName }}"
                               value="{{ name }}">
                        <label class="custom-control-label" for="{{ name }}">
                            {{ name }} ({{ nb }})
                        </label>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
</form>
