{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block main_class %}class="container-fluid pt-3"{% endblock %}

{% block body -%}

    <div class="row">
        <div class="offset-2 col-10">
                <h3>Rechercher une fiche</h3>
                <span class="text-muted">En phase de développement, exemple boulangerie</span>
            {% include '@AcMarcheBottin/admin/search/_fiche.html.twig' %}
        </div>
    </div>

    {% if count > 0 %}

        <div class="row">
            <div class="offset-2 col-10 mt-2">
                {{ include('@AcMarcheBottin/admin/fiche/_suggests.html.twig') }}
                <h4 class="text-success">{{ count }} trouvé</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                {{ include('@AcMarcheBottin/admin/fiche/_aggregations.html.twig') }}
            </div>
            <div class="col-10">
                <table class='table table-bordered table-hover'>
                    <thead>
                    <tr>
                        <th>Societe</th>
                        <th>Localité</th>
                        <th>Pmr</th>
                        <th>Midi</th>
                        <th>Centre</th>
                        <th>Comment1</th>
                        <th>Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for hit in hits %}
                        {% set fiche = hit.data %}
                        <tr>
                            <td>
                                <a href="{{ path('bottin_admin_fiche_show', { 'id': fiche.id }) }}"
                                   title="Détail de la fiche">
                                    {{ fiche.societe }}
                                </a>
                            </td>
                            <td>
                                {{ fiche.localite }}
                            </td>
                            <td>
                                {{ fiche.pmr }}
                            </td>
                            <td>
                                {{ fiche.midi }}
                            </td>
                            <td>
                                {{ fiche.centreville }}
                            </td>
                            <td>
                                {{ fiche.comment1|u.truncate(50,'...') }}
                            </td>
                            <td>
                                {{ hit.score }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

{% endblock %}
