{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body -%}

    <div class="card">
        <div class="card-header">
            <h3>Classements pour
                <a href="{{ bottin_url_fiche_show(fiche) }}">
                    {{ fiche }}
                </a>
            </h3>
        </div>

        <div class="card-body">

            {% include '@AcMarcheBottin/backend/classement/_list.html.twig' %}

            <h5 class="text-warning">Ajouter un secteur</h5>
            <hr>
            {{ form_start(formAutocomplete) }}
            {{ form_errors(formAutocomplete) }}
            <h6 class="text-success">Ajouter par mot clef</h6>
            {{ form_row(formAutocomplete.categories) }}
            <button id="btnadd" class="btn btn-primary mr-1 mb-2" type="submit">
                <i class="ti ti-device-floppy" aria-hidden="true"></i>
                Ajouter
            </button>
            {{ form_end(formAutocomplete) }}

            <hr>
            <hr>
            <h6 class="text-success">Ajouter par navigation</h6>
            {% include '@AcMarcheBottin/admin/classement/_add_by_navigation.html.twig' %}

        </div>
    </div>
{% endblock %}
