{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body -%}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Sélection pour export</h3>
        </div>
        <div class="card-body">

            <div class="alert alert-info">
                Sélectionnez le ou les catégories que vous souhaitez <a
                        href="{{ path('bottin_admin_export_index') }}">
                    exporter
                </a> ou <a href="{{ path('bottin_admin_publipostage') }}">publiposter</a>
            </div>

            {% include '@AcMarcheBottin/admin/export/_selections.html.twig' %}

            <div {{ stimulus_controller('classement', { categoryId: 0, 'url':path('bottin_admin_ajax_get_categories_for_export')}) }} >
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <button class="btn btn-warning mr-1 mb-2" type="submit"><i class="far fa-save" aria-hidden="true"></i>
                    Ajouter
                </button>
                {{ form_end(form) }}

                <div class="d-flex gap-2">
                    <ul class="list-group">
                        {% for category in categories %}
                            <li class="list-group-item">
                                <button
                                        class="btn btn-sm btn-primary"
                                        data-action="classement#selectCategory"
                                        data-classement-target="categories"
                                        data-category-id="{{ category.id }}"
                                        data-category-level="1"
                                >
                                    {{ category }}
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="d-flex" data-classement-target="result1"></div>
                    <div class="d-flex" data-classement-target="result2"></div>
                    <div class="d-flex" data-classement-target="result3"></div>
                    <div class="d-flex" data-classement-target="result4"></div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
