<div class="d-flex row justify-content-between align-items-center mb-5">
    <div class="col">
        Agence de Développement Local (ADL)<br/>
        Hôtel de Ville<br/>
        Boulevard du Midi, 22<br/>
        6900 Marche-en-Famenne<br/>
        Tél : 084 32 70 78<br/>
        Courriel : adl@marche.be<br/>
    </div>
    <div class="col text-end">
        {{ fiche.societe }} <br/>
        {{ fiche.nom }} {{ fiche.prenom }} <br/>
        {% include '@AcMarcheBottin/admin/fiche/_adresse.html.twig' %}
    </div>
</div>
<div class="card mt-5">
    <div class="card-body" style="height: 1030px;">
        Bonjour {{ fiche.societe }}<br/>
        <br/>
        Vous êtes actuellement répertorié sur l'annuaire de la ville de Marche-en-Famenne<br/>
        Afin de vous référencer correctement, nous avons décidé de procéder à une mise à jour de l'ensemble des données
        des commerces et entreprises.
        <br/><br/>
        Vous trouverez ci-joint les informations reprises actuellement au sujet de votre activité.
        <br/><br/>
        Nous vous contactons afin de vérifier que vos données sont toujours bien à jour<br/>
        <p>Retrouvez les informations vous concernant au verso</p>
        <p>Nous vous donnons la possibilité de changer en ligne votre fiche</p>
        <p>Voici la procédure</p>
        {% if fiche.token %}
            Rendez-vous sur la page : <a
                href="{{ url('bottin_backend_password') }}">{{ url('bottin_backend_password') }}</a>
            <br/> <br/>et encodez le mot de passe :
            <strong> {{ fiche.token.password }}</strong>

        {% endif %}
        <br/><br/>
    </div>
    <div class="card-footer">
        {% include '@AcMarcheBottin/admin/pdf/footer/_footer_'~ fiche.root ~'.html.twig' %}
    </div>
</div>
