<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="{{ absolute_url(asset('bundles/acmarchebottin/css/pdf.css')) }}" rel="stylesheet">
    <link href="{{ bootcdn }}" rel="stylesheet">
    <title>{{ category.name }}</title>
</head>
<body>
<div class="container">
    {% for fiche in fiches %}
        <div class="card">
            <h3 class="card-header">{{ fiche }}</h3>
            <div class="card-body">
                {{ include('@AcMarcheBottin/admin/fiche/identite/_activite.html.twig') }}
                <h4>Contact</h4>
                {{ include('@AcMarcheBottin/admin/fiche/identite/_contact.html.twig') }}
                {{ include('@AcMarcheBottin/admin/fiche/identite/_sociaux.html.twig') }}
                {{ include('@AcMarcheBottin/admin/pdf/fiche/_classement.html.twig', {'classements': fiche.classements}) }}
            </div>
        </div>
        <div class="page-breaker"></div>
    {% endfor %}
</div>
</body>
</html>
