<form>
    {% for facetName,data in facetDistribution %}
        {% if not facetName|u.startsWith('_') %}
            <div class="text-muted my-3">
                <i class="ti ti-filter" title="Village"></i> <strong>{{ facetName|title }}</strong>
                {% if data|length > 0 %}
                    {% for name,nb in data %}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" {% if name in selected %} checked {% endif %}
                                   id="{{ name }}"
                                   name="{{ facetName }}[]"
                                   value="{{ name }}"
                                   hx-swap="innerHTML scroll:top"
                                   hx-post="{{ path('bottin_admin_fiche_search_update',{'keyword': keyword}) }}"
                                   hx-trigger="change"
                                   hx-target="#content-result"
                            >
                            <label class="custom-control-label" for="{{ name }}">
                                {{ name }} ({{ nb }})
                            </label>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</form>