<li><a href="{{ path('bottin_admin_fiche_new') }}" class="nav-link px-2 link-dark"><i class="fa fa-plus"></i> Ajouter une fiche</a></li>
<li><a href="{{ path('bottin_admin_fiche_index') }}" class="nav-link px-2 link-dark">Les fiches</a></li>
<li><a href="{{ path('bottin_admin_category') }}" class="nav-link px-2 link-dark">Les catégories</a></li>
<li><a href="{{ path('bottin_admin_utilisateur') }}" class="nav-link px-2 link-dark">Les utilisateurs</a></li>

<div class="dropdown text-end">
    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
       data-bs-toggle="dropdown" aria-expanded="false">
        ...
    </a>
    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
        <li>
            <a class="dropdown-item" href="{{ path('bottin_admin_index') }}">Index des fiches</a>
        <li>
        <li>
            <a class="dropdown-item" href="{{ path('bottin_admin_demande') }}">Demande des commerçants</a>
        <li>
        <li>
            <a class="dropdown-item" href="{{ path('bottin_admin_adresse') }}">Adresses</a>
        <li>
        <li>
            <a class="dropdown-item" href="{{ path('bottin_admin_localite_index') }}">Localités</a>
        <li>
        <li>
            <a class="dropdown-item" href="{{ path('bottin_admin_pdv') }}"> Points de vente</a>
        <li>
        <li>
            <a class="dropdown-item" href="{{ path('bottin_admin_categories_empty') }}">Catégories sans fiches</a>
        <li>
        <li>
            <a class="dropdown-item" href="{{ path('bottin_admin_publipostage') }}">Publipostage</a>
        <li>
        <li>
            <a class="dropdown-item" href="{{ path('bottin_admin_utilisateur') }}">Les utilisateurs</a>
        <li>
        <li>
            <a class="dropdown-item" href="{{ path('bottin_admin_api_test_index') }}">Api tests</a>
        <li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a class="dropdown-item" href="#">Profile</a>
        </li>
    </ul>
</div>
