<li><a href="{{ path('bottin_admin_fiche_new') }}" class="nav-link px-2 link-dark"><i class="fa fa-plus"></i> Ajouter
        une fiche</a></li>
<li><a href="{{ path('bottin_admin_fiche_index') }}" class="nav-link px-2 link-dark">Les fiches</a></li>
<li><a href="{{ path('bottin_admin_category') }}" class="nav-link px-2 link-dark">Les catégories</a></li>
<li><a href="{{ path('bottin_admin_index') }}" class="nav-link px-2 link-dark">Index</a></li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        Paramètres
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
            <a class="dropdown-item" href="{{ path('bottin_admin_history_index') }}">Historique des modifications</a>
        <li>
        <li>
            <a class="dropdown-item" href="{{ path('bottin_admin_demande') }}">Demande des commerçants</a>
        <li>
        <li>
            <a class="dropdown-item" href="{{ path('bottin_admin_adresse') }}">Adresses</a>
        <li>
        <li>
            <a class="dropdown-item" href="{{ path('bottin_admin_localite_index') }}">Localités</a>
        <li>
        <li>
            <a class="dropdown-item" href="{{ path('bottin_admin_pdv') }}"> Points de vente</a>
        <li>
        <li>
            <a class="dropdown-item" href="{{ path('bottin_admin_categories_empty') }}">Catégories sans fiches</a>
        <li>
        <li>
            <a class="dropdown-item" href="{{ path('bottin_admin_export_index') }}">Exporter</a>
        <li>
        <li>
            <a class="dropdown-item" href="{{ path('bottin_admin_publipostage') }}">Publipostage</a>
        <li>
        <li>
            <a class="dropdown-item" href="{{ path('bottin_admin_utilisateur') }}">Les utilisateurs</a>
        <li>
        <li>
            <a class="dropdown-item" href="{{ path('bottin_admin_api_test_index') }}">Api tests</a>
        <li>
    </ul>
</li>

