<div class="d-flex row justify-content-between align-items-center mb-5">
    <div class="col">
        Agence de Développement Local (ADL)<br/>
        Hôtel de Ville<br/>
        Boulevard du Midi, 22<br/>
        6900 Marche-en-Famenne<br/>
        Tél : 084 32 70 78<br/>
        Courriel : adl@marche.be<br/>
    </div>
    <div class="col text-end">
        {{ fiche.societe }} <br/>
        {{ fiche.nom }} {{ fiche.prenom }} <br/>
        {% include '@AcMarcheBottin/admin/fiche/_adresse.html.twig' %}
    </div>
</div>
<div class="card mt-5">
    <div class="card-body" style="height: 1030px;">
        Bonjour{% if fiche.nom %} {{ fiche.nom }} {{ fiche.prenom }} {% endif %},
        <br/><br/>
        Votre fiche <strong>{{ fiche.societe }}</strong> est actuellement répertoriée dans l'annuaire économique
        de la Ville de Marche-en-Famenne (www.marche.be),
      <br/>  et, sur le site de Cap sur Marche (cap.marche.be) pour les commerces et entreprises.
        <br/><br/>
        Afin de vous référencer correctement, l'Agence de Développement Local procède à une mise à jour de l'ensemble
        des données des commerces et entreprises.
        <br/><br/>
        Vous trouverez <strong>au verso</strong> les informations reprises actuellement au sujet de votre activité.
        <br/><br/>
        Ces informations ne sont plus correctes, obsolètes ou incomplètes?<br/> Nous vous donnons la possibilité
        d'opérer vos
        changements directement en ligne en modifiant vous-même votre fiche.
        <br/><br/>
        {% if fiche.token %}
            Rendez-vous sur la page : {{ url('bottin_front_home') }}<br/>
            Cliquez sur "Mettre à jour" <br/>
            et encodez le mot de passe :
            <strong> {{ fiche.token.password }}</strong>
        {% endif %}
        <br/><br/>
        Vous préférez nous renvoyer vos informations par mail pas de problème ! Contactez-nous via l'adresse
        adl@marche.be
        <br/><br/>
        Pour rappel, ces coordonnées de contact ne seront en aucune façon communiquées à des tiers.
        <br/><br/>
        Bien à vous,
    </div>
    <div class="card-footer">
        {% include '@AcMarcheBottin/admin/pdf/footer/_footer_'~ fiche.root ~'.html.twig' %}
    </div>
</div>
