{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body -%}

    <div class="card">
        <div class="card-header">
            <h3>Publipostage</h3>
        </div>
        <div class="card-body">
            <p>
                <a href="{{ path('bottin_admin_export_select') }}">Suivant votre sélection</a>
            </p>
            <div class="alert alert-info">
                Publipostage par email avec un lien pour mettre à jour sa fiche sans authentification
                <br />
                Insérez {urltoken} si vous voulez mettre l'url permettant de modifier sa fiche
            </div>

            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary mr-1 mb-2" type="submit"><i class="far fa-save" aria-hidden="true"></i>
                Envoyer
            </button>

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
