{% set count = fiches | length %}
{% if  count > 0 %}

    <h4 class="text-success">{% if  count > 0 %} {{ count }} {% endif %}fiches</h4>

    <table class='table table-bordered table-hover'>
        <thead>
        <tr>
            <th>Société</th>
            <th>Localité</th>
            <th>Adresse</th>
            <th>Téléphone</th>
        </tr>
        </thead>
        <tbody>
        {% for fiche in fiches %}
            <tr>
                <td>
                    <a href="{{ bottin_url_fiche_show(fiche) }}"
                       title="Détail de la fiche">{{ fiche.societe }}</a>
                </td>
                <td>{{ fiche.localite }}</td>
                <td>{{ fiche.rue }}</td>
                <td>{{ fiche.telephone }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
