{{ form_row(form.societe) }}
<div class="row">
    <div class="col-lg-8">
        {{ form_row(form.rue) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.numero) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
      {{ form_row(form.localite) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        {{ form_row(form.website) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.email) }}
    </div>

    <div class="col-lg-6">
        {{ form_row(form.telephone) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.gsm) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.telephone_autre) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.fax) }}
    </div>
</div>
{{ form_row(form.numeroTva) }}
