
<div class="alert alert-info">
    Présence sur les réseaux sociaux
</div>

{{ form_row(form.facebook) }}
{{ form_row(form.twitter) }}
{{ form_row(form.instagram) }}
{{ form_row(form.tiktok) }}
{{ form_row(form.youtube) }}
{{ form_row(form.linkedin) }}
