{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body -%}

    <div class="card bg-lig2ht mb-3">
        <div class="card-header">
            <h3>Gestion du bottin marchois</h3>
        </div>
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_errors(form) }}
            <button type="submit" name="send" class="btn btn-primary">Générer</button>
            {{ form_end(form) }}

            {% for fiche in fiches %}
                {% if fiche.token %}
                    <a href="{{ path('bottin_backend_fiche_show', {'uuid': fiche.token.uuid}) }}" target="_blank">
                        {{ fiche }}
                    </a>
                    <br/>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
