{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body %}
    <div class="card mb-3">
        <div class="card-header">
            <h3>Recherche "{{ keyword }}"</h3>
        </div>
        <div class="card-body">
            {{ form(form) }}
            {% if count > 0 %}

                <h4 class="text-success">{{ count }} trouvé(s)</h4>

                {% for hit in hits %}
                    {% set fiche = hit.data %}

                    <li class="list-group-item">
                        <a href="{{ bottin_url_fiche_show(fiche) }}">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    {% include '@AcMarcheBottin/front/fiche/_image.html.twig' %}
                                    <span class="px-1">{{ fiche.societe }}</span>
                                </div>
                                <em>{{ fiche.localite }}</em>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
