{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3>Rechercher {% if keyword %}"{{ keyword }}"{% endif %}</h3>
        </div>
        <div class="card-body">
            {{ form_start(form, { 'attr': {'class': 'row gy-2 gx-1 mb-3 align-items-center'}}) }}
            {{ form_errors(form) }}
            <div class="col-auto">
                {{ form_row(form.nom, {label_attr: {class: 'sr-only'}, attr:{'class': 'my-1 mr-sm-2', 'placeholder': 'Mot clef'} }) }}
            </div>
            <div class="col-auto">
                <button type="submit" name="send" class="btn btn-primary mb-3"><i class="ti ti-search"></i> Rechercher
                </button>
            </div>
            {{ form_end(form) }}

            {% if count > 0 %}

                <h4 class="text-success">{{ count }} trouvé(s)</h4>

                <ul class="list-group">
                    {% for hit in hits %}
                        {% set fiche = hit.data %}
                        <li class="list-group-item">
                            <a href="{{ bottin_url_fiche_show(fiche) }}">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        {% include '@AcMarcheBottin/front/fiche/_image.html.twig' %}
                                        <span class="px-1">{{ fiche.societe }}</span>
                                    </div>
                                    <em>{{ fiche.localite }}</em>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
