{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body %}
    <div class="card mb-3">
        <div class="card-header">
            <h3>Recherche "{{ keyword }}"</h3>
        </div>
        <div class="card-body">
            {% if hits|length > 0 %}

                <h4 class="text-success">{{ hits.total.value }} trouvé</h4>

                <ul class="list-group">

                </ul>
                {% for hit in hits.hits %}
                    {% set fiche = hit._source %}
                    {% set urlShow = path('bottin_fiche_show', {'id': fiche.id}) %}
                    {% if is_granted('ROLE_BOTTIN_ADMIN') %}
                        {% set urlShow = path('bottin_admin_fiche_show', {'id': fiche.id}) %}
                    {% endif %}
                    <li class="list-group-item">
                        <a href="{{ urlShow }}">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    {% include '@AcMarcheBottin/front/fiche/_image.html.twig' %}
                                    <span class="px-1">{{ fiche.societe }}</span>
                                </div>
                                <em>{{ fiche.localite }}</em>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
