<h2 class="sr-only">Filtres</h2>

<!-- Mobile filter dialog toggle, controls the 'mobileFilterDialogOpen' state. -->
<button type="button" class="inline-flex items-center lg:hidden" @click="menuOpen = true">
    <span class="text-sm font-medium text-gray-700">Filtres mobile</span>
    <svg class="ml-1 h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
         aria-hidden="true">
        <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"/>
    </svg>
</button>

<div class="hidden lg:block">
    <form class="space-y-10 divide-y divide-gray-200">
        {% for facetName,data in facetDistribution %}
            {% if not facetName|u.startsWith('_') %}
                <div class="[&:not(:first-child)]:pt-10">
                    <fieldset>
                        <legend class="block text-sm font-medium text-gray-900">
                            {{ facetName|title }}
                        </legend>
                        <div class="space-y-3 pt-6">
                            {% if data|length > 0 %}
                                {% for name,nb in data %}
                                    <div class="flex items-center">
                                        <input id="color-{{ name|slug }}" name="{{ facetName }}[]" value="{{ name }}"
                                               type="checkbox"
                                               class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                                               hx-swap="outerHTML scroll:top"
                                               hx-post="{{ path('bottin_map_update') }}"
                                               hx-trigger="change"
                                               hx-target="#list-result"
                                               >
                                        <label for="color-{{ name|slug }}"
                                               class="ml-3 text-sm text-gray-600">
                                            <i class="{{ icons[name].icon }}"
                                               style="color:{{ icons[name].color }}; font-size: 1rem;"></i>
                                            {{ name }} ({{ nb }})
                                        </label>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </fieldset>
                </div>
            {% endif %}
        {% endfor %}
    </form>
</div>