<div class="relative h-full overflow-hidden rounded-xl border border-dashed border-gray-400 opacity-100"
     id="list-result" data-markers="{{ hits|json_encode }}">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-8 lg:max-w-full lg:px-8">
        <div class="grid grid-cols-1 gap-y-4 lg:grid-cols-3 sm:gap-x-6 sm:gap-y-4 lg:gap-x-4">
            {% for fiche in hits %}
                <div class="group relative flex flex-col overflow-hidden rounded-lg border border-gray-200 bg-white45">
                    <div class="aspect-square bg-gray-200 sm:aspect-none group-hover:opacity-75 h-80 sm:h-96">
                        {% set img = 'https://picsum.photos/1280' %}
                        {% if fiche.image %}
                            {% set img = 'https://bottin.marche.be' ~ fiche.image %}
                        {% endif %}
                        <img src="{{ img }}"
                             alt="xx"
                             class="h-full w-full object-cover object-center sm:h-full sm:w-full transition-transform duration-500 ease-in-out group-hover:scale-105">
                    </div>
                    <div class="flex flex-1 flex-col space-y-2 p-4 h-36">
                        <h3 class="text-xl text-carto-gray300 roboto-bold">
                            <a href="#">
                                <span aria-hidden="true" class="absolute inset-0"></span>
                                {{ fiche.societe }}
                            </a>
                        </h3>
                        <p class="text-base text-carto-gray200">
                            {% for secteur in fiche.secteurs %}
                                {{ secteur }} {% if not loop.last %} - {% endif %}
                            {% endfor %}
                        </p>
                        <div class="flex flex-1 flex-col justify-end">
                            <p class="text-base font-medium text-gray-900">{{ fiche.localite }}</p>
                            <p class="text-sm italic text-gray-500">{{ fiche.telephone }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
