<div class="row">
    <div class='col-md-2'>
        {{ form_row(form.centreville) }}
    </div>
    <div class='col-md-2'>
        {{ form_row(form.midi) }}
    </div>
    <div class='col-md-2'>
        {{ form_row(form.pmr) }}
    </div>
</div>
<div class="row">
    <div class='col-md-2'>
        {{ form_row(form.clickCollect) }}
    </div>
    <div class='col-md-2'>
        {{ form_row(form.ecommerce) }}
    </div>
</div>
<div class="row">
    <div class='col-md-6'>
        {{ form_row(form.situations) }}
    </div>
    <div class='col-md-12'>
        {{ form_row(form.comment1) }}
        {{ form_row(form.comment2) }}
        {{ form_row(form.comment3) }}
    </div>
</div>
{#  % include '@AcMarcheBottin/admin/fiche/form/_meta.html.twig' %#}
{{ form_row(form.tags) }}