{% extends '@AcMarcheBottin/layout.html.twig' %}

{% block body %}
    <div class="page-header">
        <h3>Liste des adresses</h3>
    </div>
    {% if is_granted('ROLE_BOTTIN_ADMIN') %}

        <a href="{{ path('bottin_adresse_new') }}" class="btn btn-primary" role="button"><i
                    class="glyphicon glyphicon-plus"></i> Ajouter</a>
        <br/><br/>

    {% endif %}

    <table class='table table-bordered table-hover'>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Localité</th>
            <th>Fiches</th>
        </tr>
        </thead>
        <tbody>
        {% for adresse in adresses %}
            <tr>
                <td>
                    <a href="{{ path('bottin_adresse_show', { 'id': adresse.id }) }}">
                        {{ adresse.nom }}
                    </a>
                </td>
                <td>{{ adresse.localite }}</td>
                <td>{{ adresse.fiches|length }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
