{% extends '@AcMarcheBottin/backend/layout.html.twig' %}

{% block body -%}
    <div class="card">
        <div class="card-header">
            <h3>Images pour <a href="{{ path('bottin_backend_fiche_show',{'uuid': token.uuid}) }}">{{ fiche }}</a></h3>
        </div>
        <div class="card-body">
            {{ form_start(form, { 'attr': {'id': 'formdrop','class': 'mt-3 dropzone', 'data-controller': 'dropzone'}}) }}
            {{ form_errors(form) }}

            <div class="dz-message d-flex flex-column">
                <i class="fas fa-upload"></i> Charger de nouvelles images
            </div>

            {{ form_end(form) }}
        </div>
    </div>

    <h4 class="text-success">Image(s) actuelles</h4>
    {% include '@AcMarcheBottin/backend/image/_list.html.twig' %}
    {% include '@AcMarcheBottin/backend/image/_delete.html.twig' %}

{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        document.querySelector('#exampleModal').addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const imageId = button.dataset.imageid;
            let modal = document.querySelector('#dissocierModalTuteur');
            modal.querySelector('#imageid').value = imageId;
        })
    </script>
{% endblock %}
