<h4 class="text-success">Activités</h4>
<div class="accordion" id="accordionActivities">
    {% for activity in activities %}

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingAct{{ loop.index }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseAct{{ loop.index }}" aria-expanded="false" aria-controls="collapseAct{{ loop.index }}">
                    {% if activity.naceCodeDescription|length > 0 %}
                        {{ activity.naceCodeDescription.FR }}
                    {% endif %}
                </button>
            </h2>
            <div id="collapseAct{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="headingAct{{ loop.index }}"
                 data-bs-parent="#accordionActivities">
                <div class="accordion-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>Groupe</th>
                            <td>
                                {{ activity.activityGroup }}
                                {% if activity.activityGroupDescription|length > 0 %}
                                    <span class="text-muted">{{ activity.activityGroupDescription.FR }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Version</th>
                            <td>{{ activity.naceVersion }}</td>
                        </tr>
                        <tr>
                            <th>Code</th>
                            <td>
                                {{ activity.naceCode }}
                                {% if activity.naceCodeDescription|length > 0 %}
                                    <span class="text-muted">{{ activity.naceCodeDescription.FR }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Classification</th>
                            <td>
                                {{ activity.classification }}
                                {% if activity.classificationDescription|length > 0 %}
                                    <span class="text-muted">{{ activity.classificationDescription.FR }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    {% endfor %}
</div>
