<h4 class="text-success">Etablissements</h4>
<div class="accordion" id="accordionEstablishments">

    {% for establishment in entreprise.establishments %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingEst{{ loop.index }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseEst{{ loop.index }}"
                        aria-expanded="false" aria-controls="collapseEst{{ loop.index }}">
                    {% if establishment.addresses|length > 0 %}
                        {{ establishment.addresses.0.municipalityFR }}
                    {% else %}
                        Ville non spécifiée
                    {% endif %}
                </button>
            </h2>
            <div id="collapseEst{{ loop.index }}" class="accordion-collapse collapse"
                 aria-labelledby="headingEst{{ loop.index }}"
                 data-bs-parent="#accordionEstablishments">
                <div class="accordion-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>Numéro</th>
                            <td>{{ establishment.establishmentNumber }}</td>
                        </tr>
                        <tr>
                            <th>Début d'activité</th>
                            <td>{{ establishment.startDate }}</td>
                        </tr>
                    </table>
                    {% include '@AcMarcheBottin/admin/cbe/_addresses.html.twig' with {'addresses':establishment.addresses} %}
                    {% include '@AcMarcheBottin/admin/cbe/_contacts.html.twig' with {'contacts':establishment.contacts} %}
                    {% include '@AcMarcheBottin/admin/cbe/_denominations.html.twig' with {'denominations':establishment.denominations} %}
                    {% include '@AcMarcheBottin/admin/cbe/_activities.html.twig' with {'activities':establishment.activities} %}
                </div>
            </div>
        </div>

    {% endfor %}

</div>
