{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body -%}

    <div class="card">
        <div class="card-header">
            <h3>Informations CBE pour <a href="{{ bottin_url_fiche_show(fiche) }}">{{ fiche }}</a></h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th>Numéro d'entreprise</th>
                    <td>{{ entreprise.enterpriseNumber }}</td>
                </tr>
                <tr>
                    <th>Début d'activité</th>
                    <td>{{ entreprise.startDate|format_date }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>
                        {{ entreprise.status }}
                        {% if entreprise.statusDescription|length > 0 %}
                            <span class="text-muted">{{ entreprise.statusDescription.FR }}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Situation juridique</th>
                    <td>
                        {{ entreprise.juridicalSituation }}
                        {% if entreprise.juridicalSituationDescription|length > 0 %}
                            <span class="text-muted">{{ entreprise.juridicalSituationDescription.FR }}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Forme juridique</th>
                    <td>
                        {{ entreprise.juridicalForm }}
                        {% if entreprise.juridicalFormDescription|length > 0 %}
                            <span class="text-muted">{{ entreprise.juridicalFormDescription.FR }}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Type d'entreprise</th>
                    <td>
                        {{ entreprise.typeOfEnterprise }}
                        {% if entreprise.typeOfEnterpriseDescription|length > 0 %}
                            <span class="text-muted">{{ entreprise.typeOfEnterpriseDescription.FR }}</span>
                        {% endif %}
                    </td>
                </tr>
            </table>

            {% include '@AcMarcheBottin/admin/cbe/_denominations.html.twig' with {'denominations':entreprise.denominations} %}
            {% include '@AcMarcheBottin/admin/cbe/_contacts.html.twig' with {'contacts':entreprise.contacts} %}
            {% include '@AcMarcheBottin/admin/cbe/_addresses.html.twig' with {'addresses':entreprise.addresses} %}
            {% include '@AcMarcheBottin/admin/cbe/_activities.html.twig' with {'activities':entreprise.activities} %}
            {% include '@AcMarcheBottin/admin/cbe/_establishments.html.twig' %}

        </div>
    </div>

{% endblock %}
