{% set action = app.request.attributes.get("_route") %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    {% if is_granted('ROLE_BOTTIN_ADMIN') %}
        {% include '@AcMarcheBottin/admin/_menu_admin.html.twig' %}
    {% else %}
        <li>
            <a href="{{ path('bottin_front_search') }}" class="nav-link px-2 link-dark"><i class="ti ti-search"></i>
                Rechercher</a>
        </li>
        <li>
            <a href="{{ path('bottin_front_category_index') }}" class="nav-link px-2 link-dark"><i
                        class="ti ti-list"></i> Secteurs</a>
        </li>
        <li>
            <a href="{{ path('bottin_front_fiche_by_index') }}" class="nav-link px-2 link-dark"><i
                        class="ti ti-list"></i> Index</a>
        </li>
    {% endif %}
</ul>
{{ render(url('bottin_front_search_form')) }}
<ul class="navbar-nav mb-2 mb-lg-0">
    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li class="nav-item">
            <a href="{{ path('app_login') }}" class="nav-link"><i class="ti ti-login-2"></i>
                Se connecter</a>
        </li>
    {% else %}
        <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link"><i class="ti ti-logout-2"></i>
                Déconnexion</a>
        </li>
    {% endif %}
</ul>
