{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body -%}
    <div class="card">
        <div class="card-header">
            <h3>{{ situation }}</h3>
        </div>
        <div class="card-body">

            {% include '@AcMarcheBottin/admin/situation/_actions.html.twig' %}

            <br/><br/>
            {% set count = fiches | length %}
            {% if  count > 0 %}

                <h3>{% if  count > 0 %} {{ count }} {% endif %}Fiches</h3>

                <table class='table table-bordered table-hover'>
                    <thead>
                    <tr>
                        <th>Societe</th>
                        <th>Adresse</th>
                        <th>Téléphone</th>
                        <th>Email</th>
                        <th>Nom</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for fiche in fiches %}
                        <tr>
                            <td>
                                <a href="{{ path('bottin_admin_fiche_show', { 'id': fiche.id }) }}"
                                   title="Détail de la fiche">{{ fiche.societe }}</a>
                            </td>
                            <td>{{ fiche.rue }}</td>
                            <td>{{ fiche.telephone }}</td>
                            <td>{{ fiche.email }}</td>
                            <td>{{ fiche.nom }} {{ fiche.prenom }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="text-info">Aucune</p>
            {% endif %}
        </div>
    </div>

    {% include '@AcMarcheBottin/admin/situation/_delete.html.twig' %}
{% endblock %}
