{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form.name) }}
{{ form_row(form.private) }}
{{ form_row(form.icon) }}
{{ form_row(form.color) }}

<button class="btn btn-primary mr-1 mb-2" type="submit"><i class="ti ti-device-floppy" aria-hidden="true"></i>
    Sauvegarder
</button>

{{ form_end(form) }}