<table class='table table-bordered table-hover'>
    <tr>
        <th><i class="ti ti-building-church"></i> Situation(s)</th>
        <td>
            {% for situation in fiche.situations %}
                {{ situation }}
                {% if loop.last == false %}
                    ,
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th><i class="ti ti-user-shield"></i> Identifiant</th>
        <td>{{ fiche.id }}</td>
    </tr>
    <tr>
        <th><i class="ti ti-user-shield"></i> Slug</th>
        <td>{{ fiche.slug }}</td>
    </tr>
</table>
<p>
    {{ fiche.comment1 | nl2br }}
</p>
<p>
    {{ fiche.comment2 | nl2br }}
</p>
<p>
    {{ fiche.comment3 | nl2br }}
</p>
