{% extends '@AcMarcheBottin/layout.html.twig' %}

{% block body -%}

    <div class="page-header">
        <h3>Rechercher une fiche</h3>
        <span class="float-right text-muted"><a href="{{ path('bottin_fiche_search_advanced') }}">Recherche avancé</a></span>
    </div>

    {% include '@AcMarcheBottin/search/_fiche.html.twig' %}

    {% if hits|length > 0 %}

        <h4 class="text-success">{{ hits.total.value }} trouvé</h4>

        <table class='table table-bordered table-hover'>
            <thead>
            <tr>
                <th>Societe</th>
                <th>Id</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Localité</th>
                <th>Pmr</th>
                <th>Midi</th>
                <th>Centre</th>
            </tr>
            </thead>
            <tbody>
            {% for hit in hits.hits %}
                {% set fiche = hit._source %}
                <tr>
                    <td>
                        <a href="{{ path('bottin_fiche_show', { 'id': fiche.id }) }}"
                           title="Détail de la fiche">
                            {{ fiche.societe }}
                        </a>
                    </td>
                    <td>
                        {{ fiche.id }}
                    </td>
                    <td>
                        {{ fiche.latitude }}
                    </td>
                    <td>
                        {{ fiche.longitude }}
                    </td>
                    <td>
                        {{ fiche.localite }}
                    </td>
                    <td>
                        {{ fiche.pmr }}
                    </td>
                    <td>
                        {{ fiche.midi }}
                    </td>
                    <td>
                        {{ fiche.centreville }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}

{% endblock %}
