{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Liste des demandes de modification par les commerçants</h3>

        <div class="card-body">
            {% if demandes | length > 0 %}

                <table class='table table-bordered table-hover'>
                    <thead>
                    <tr>
                        <th>Demande num</th>
                        <th>Demandé le</th>
                        <th>Pour la fiche</th>
                        <th>Nbre de modifs</th>
                        <th>Demande traitée ?</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for demande in demandes %}
                        <tr>
                            <td>
                                {{ demande.id }}
                            </td>
                            <td>{{ demande.createdAt | date('d-m-Y à H:i') }}</td>
                            <td>
                                <a href="{{ path('bottin_admin_demande_show', { 'id': demande.id }) }}">
                                    {{ demande.fiche }}
                                </a>
                            </td>
                            <td>
                                {{ demande.metas | length }}
                            </td>
                            <td>
                                {% if demande.traiter %}
                                    <i class="ti ti-check"></i> par {{ demande.traiter_by }}
                                {% else %}

                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% endif %}
        </div>
    </div>
{% endblock %}
